
    <div>
		<br>
		<br>
		<span id="taskid">{{taskid}}</span>
		<br>
		<br>
	</div>
	<table>
		<thead><th>Ambari Task</th><th>Install Status</th><th>log</th></thead>
		<tr><td>HDP repo Install</td><td id="hdp_status">deploying</td><td><a href="javascript:;" onclick="queryHdpLog()" >log</a></td></tr>
		<tr><td>Ambari Server Install</td><td id="server_status">deploying</td><td><a href="javascript:;" onclick="queryServerLog()" >log</a></td></tr>
		<tr><td>Ambari Agents Install</td><td id="agents_status">deploying</td><td><a href="javascript:;" onclick="queryAgentsLog()" >log</a></td></tr>
		 <!--  自动获取所有的 agent 并展示状态信息   -->
        {% for ip,host in nodes.items %}
		<tr><td>agent {{ip}}</td><td id={{host}} >deploying</td><td><a href="javascript:;" onclick="queryAgentLog('{{ip}}')" >log</a></td></tr>
         {% endfor %}
	</table>
	<div>
		<br>
		<br>
	</div>
	<pre id="log_text" class="logs" >
     tail     *.log





	</pre>
