
<form class="contact_form" id="ambariInstallForm" action="#" method="post" name="contact_form" >
	<ul>
		<li>
			<h2>ssh 免密码配置</h2>
			<span class="required_notification">server 可以免密码登录client 机器</span>
		</li>
		<li>
			<label for="server">Server:</label>
            <span class="required_notification">server 机器</span>
			<input type="text" name="server" id="server" placeholder="11.11.11.11 root password" required />
			<span class="form_hint">11.11.11.11 root password</span>
		</li>
		<li>
			<label for="hosts">clients:</label>
           <span class="required_notification">每行表示一台机器</span>
			<textarea name="message" id="hosts" cols="40" rows="6" placeholder="11.11.11.12 root password
11.11.11.13 root password" required ></textarea>
		</li>
		<li>
			<button class="submit" type="button"  onclick="submitForm();" >配置免密码</button>
		</li>
	</ul>
</form>
